@media only screen and (max-width: 375px) {
    .content {
        /* margin-left: 0px; */
        margin-left: -100px;
        display: flex;
        width: 300px;
        text-align: justify;

        /* background-color: red; */
       
    }
}

@media only screen and (max-width: 325px) {
    .content {
        /* margin-left: 0px; */
        margin-left: 10px;
        display: flex;
        width: 300px;
        /* background-color: red; */
       
    }
}
.content{
    margin-left: 10px;

}