body {
  padding: 5em;
  background-color: #e3e3e3;
}

html {
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

@font-face {
  font-family: 'Genericons';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class*="genericon"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1;
  font-family: 'Genericons';
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
}

/* IE7 */
[class*="genericon"] {
  *overflow: auto;
  *zoom: 1;
  *display: inline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  float: left;
  margin-right: 25px;
}

a .social-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 129px;
  height: 34px;
  padding-right: 12px;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #d0d0d0;
  
  /* transition fadeIn */
  -webkit-transition: background-color 0.175s ease-in-out;
  -moz-transition: background-color 0.175s ease-in-out;
	-o-transition: background-color 0.175s ease-in-out;
	transition: background-color 0.175s ease-in-out;
}

a .social-button.twitter {
  background-color: #00a9f1;
  width: 250px;
  /* font-size: 62.5%; */
}

@media only screen and (max-width: 720px) {
  .buttom{
      /* margin-left: 0px; */
      margin-left:50px;
      /* background-color: red; */
   
  }}
.img2{
  display: none
}
  @media only screen and (max-width: 720px) {
    .img2{
        /* margin-left: 0px; */
display: block; 
width: 100px;     
height: 100px;
margin-left: 60px;
    }}

  

a .social-button.twitter:before {
  display: inline-block;
  font-family: "Genericons";
  content: "\f202";
  width: 34px;
	height: 34px;
  padding-left: 10px;
  margin-right: 12px;
  background-color: #0085be;
  
  /* left borders */
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;  
	
}

a:hover .social-button.twitter {
  background-color: #0085be;
}
			